server:
  port: 8011

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

endpoints.web:
  exposure:
    include: "*"

endpoints:
  health:
    show-details: always

jwt:
  secret: "Hi#This1!$-My!Secret_Key@hereWeCanAdd*2AnyThingFor&3JWTAuthentication"
