server:
  port: 8008

spring:
  application:
    name: Auth
  datasource:
    url: jdbc:postgresql://localhost:5432/shop
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
